
<html>
<head>
    
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta charset=" = "utf-8"/>
    @Styles.Render("-/Content/css")
    @Scripts.Render("-/bundles/modernizr")

    <style>
        div {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

    </style>
  
</head>
<body>
    <div>
        <a href="@Url.Action("Catalog","Home")">Katalogs</a>
        <a href="@Url.Action("About","Home")">Par veikalu</a>
    </div>
    
        @RenderBody()
     
</body>
</html>
